body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
}

tbody td {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
}

td[contenteditable="true"] {
    background-color: #e7e7e7;
}
